<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.5.208051316-alpha" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="net45" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.6" targetFramework="net45" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="net45" />
  <package id="Xamarin.Forms.Maps" version="1.5.1.6471" targetFramework="net45" />
  <package id="Xamarin.UITest" version="1.1.1" targetFramework="net45" />
</packages>